@using TechQuestions.Entites
@model List<JobTitle>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Questions";
}
<div class="register-container">
    <div class="register-header">Create New Question</div>
    <div class="row">
        <div class="col-12">
            <form class="register-form" asp-action="CreateQuestion" method="post">
                <select class="form-select" name="jobTitleId" required>
                    <option value="" selected disabled>Open this job Title list</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Title </option>
                    }


                </select>
                <br />
                <select class="form-select" name="Level" required>
                    <option selected disabled value="">Select Question Level</option>
                    <option value="Easy">Easy</option>
                    <option value="Mid">Intermediate</option>
                    <option value="Advance">Advanced</option>
                </select>
                <div class="form-group">
                    <label for="firstname">Name</label>
                    <input type="text" id="name" name="name"
                           required>
                </div>
                <div class="form-group">
                    <label for="lastname">Body</label>
                    <input type="text" id="body" name="body" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Image</label>
                    <input type="file" id="image" name="image" accept="images/*">
                </div>
                <div class="form-group">
                    <label for="firstname">Answer 1</label>
                    <input type="text" id="ans1" name="ans1"
                           required>
                </div>
                <div class="form-group">
                    <label for="firstname">Answer 2 </label>
                    <input type="text" id="ans2" name="ans2"
                           required>
                </div>
                <div class="form-group">
                    <label for="firstname">Answer 3 </label>
                    <input type="text" id="ans3" name="ans3"
                           required>
                </div>
                <div class="form-group">
                    <label for="firstname">Answer 4 </label>
                    <input type="text" id="ans4" name="ans4"
                           required>
                </div>

                <div class="form-group">
                    <label for="isMultiple">Which Is The Correct Choice</label>
                    <select class="form-control" id="corrcetIndex" name="corrcetIndex">
                        <option value="0">Answer 1 </option>
                        <option value="1">Answer 2</option>
                        <option value="2">Answer 3</option>
                        <option value="3">Answer4</option>
                    </select>
                </div>
                <button type="submit" class="register-button">Save Changes</button>
            </form>
        </div>
    </div>
</div>